.download-app {
  background-color: @basick-blue-background;
}

.download-app__slogan {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: @basick-white;
}

.download-app__section-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @basick-white;
}
