.download-app {
  background-color: @basick-blue-background;
}

.download-app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/back-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 29px 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.download-app__slogan {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: @basick-white;
  margin: 0;
}

.download-app__section-logo {
  margin-top: 32px;
}

.download-app__section-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @basick-white;
}
