.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.page-footer__container {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}
