.price {
  background-color: @basick-gray;
}

.price__container {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.price-wrapper {
  margin: 0 22px;
  position: relative;
  min-height: 506px;
  overflow: hidden;
}

.price__toggles {
  text-align: center;
  margin-top: 45px;
  position: absolute;
  top: 50%;
  left: 50%;


  @media (min-width: @tablet-width) {
    display: none;
  }
}
