.user-post__info {
  background-color: @basick-gray;
  color: @special-blue;
}

.user-post__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.user-post__time {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.user-post__text {
  font-size: 14px;
  line-height: 24px;
}

.user-post__likes-number {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @special-pink;
}
